<%- include('partial/header'); -%>

	<section class="section bg-pattern flex flex-col items-center gap-[40px]">
		<img src="./images/logo-main.png" alt="YAPC::Hiroshima 2024 ロゴ" class="sm:w-[400px] w-[250px] sm:max-w-full" />
		<p class="font-extrabold text-xl sm:text-2xl max-w-4xl sm:mx-12">
			YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。
			Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！
		</p>
		<img src="./images/text-main-date.png" class="w-[300px] sm:w-[400px] md:w-[613px]  sm:max-w-full"
			alt=" 2024年2月10日 広島国際会議場" />
	</section>

	<section class="section flex flex-col">
		<h2 class="en-serif-bold text-4xl sm:text-6xl text-center mb-16">ANNOUNCEMENT</h2>
		<table class="table-fixed mx-auto en-serif text-bold sm:text-2xl md:text-3xl table">
			<tbody>
				<% for (const i of locals.information) { %>
					<tr>
						<td>
							<%=i.date%>
						</td>
						<td>
							<a class="underline" href="<%= i.url %>" target="_blank" rel="noopener noreferrer">
								<%= i.title %>
							</a>
						</td>
					</tr>
					<% } %>
			</tbody>
		</table>
		<div>
			<ul>
				<li>
				</li>
			</ul>
		</div>
	</section>

	<section class="section bg-pattern flex flex-col items-center gap-[50px]">
		<p class="en-serif-bold text-5xl sm:text-7xl md:text-8xl text-center whatyoulike">WHAT YOU LIKE</p>
		<img src="./images/okonomi.png" class="w-[732px] max-w-full" alt="" />
		<p class="font-extrabold text-2xl sm:text-3xl max-w-3xl sm:mx-12">
			今回のYAPC::Hiroshima 2024は<span class="text-red">｢what you like｣</span>がテーマです。職種、ロール、プログラミング言語、技術要素...
			あなたのさまざまな<span class="text-red">｢お好み｣</span>を語ってみてください。</p>
	</section>

	<section class="section flex flex-col">
		<h2 class="en-serif-bold text-4xl sm:text-6xl text-center mb-16">SCHEDULE</h2>
		<table class="table-fixed mx-auto en-serif text-bold sm:text-2xl md:text-3xl table">
			<tbody>
				<tr>
					<td>前夜祭</td>
					<td>2024年2月9日(金)</td>
					<td>広島国際会議場</td>
				</tr>
				<tr>
					<td>本編</td>
					<td>2024年2月10日(土)</td>
					<td>広島国際会議場</td>
				</tr>
				<tr>
					<td>アフターイベント</td>
					<td>2024年2月11日(日)</td>
					<td>TBD</td>
				</tr>
			</tbody>
		</table>
	</section>


	<section class="section flex flex-col items-center gap-[50px]">
		<h2 class="en-serif-bold text-5xl sm:text-7xl md:text-8xl text-center">GUEST SPEAKER</h2>
		<div class="mx-auto px-5 grid md:grid-flow-col auto-cols-fr gap-12">
			<% for (const speaker of locals.guestSpeakers) { %>
				<div class="max-w-sm">
					<img class="rounded-xl" src="<%= speaker.photo %>" alt="<%= speaker.name %>" />
					<div class="grid m-auto my-5">
						<div class="font-bold text-2xl text-center">
							<%= speaker.name %>
						</div>
						<div class="text-sm text-center text-gray-500">
							<%= speaker.name_en %>
						</div>
						<div class="mt-4 text-sm text-center ">
							<%= speaker.title %><br>
						</div>
					</div>
					<p class="text-sm sm:text-md text-justify">
						<%= speaker.description %>
					</p>
				</div>
				<% } %>
		</div>
	</section>


	<%- include('partial/footer'); -%>