---
import { Image } from "astro:assets";
import OutlinedTitle from "./OutlinedTitle.astro";
import GuestSpeaker01 from "../assets/guest/01kis.png";
import GuestSpeaker02 from "../assets/guest/02yuuk1.png";
import GuestSpeaker03 from "../assets/guest/03azukiazusa.png";
import GuestSpeaker04 from "../assets/guest/04inao.png";
import GuestSpeaker05 from "../assets/guest/05yamazawa.png";
import GuestSpeaker06 from "../assets/guest/06pyama.jpg";

const keynoteSpeakers = [
  {
    name: "P山",
    role: "pyama86",
    description:
      "GO株式会社 開発本部ソフトウェア統括部バックエンド開発部所属 日本のモビリティをより良くするために、タクシーアプリ『GO』のバックエンド開発を行っています。 業務で発生する課題を抽象化して実装し、OSSとして公開しながら開発することを得意としています。",
    imageUrl: GuestSpeaker06,
  },
];

// ゲストスピーカーデータ
const guestSpeakers = [
  {
    name: "きしだなおき",
    role: "Naoki Kishida",
    description:
      "九州芸術工科大学 芸術工学部 音響設計学科を8年で退学後、フリーランスでの活動を経て、2015 年から大手IT企業に勤務。著書に、『プロになるJava 』(共著、技術評論社) など。内容は考え中ですが、今決めても2ヶ月半後にまたAIで世界が変わってるかもしれないので、なるべくホットな話をします",
    imageUrl: GuestSpeaker01,
  },
  {
    name: "坪内佑樹",
    role: "yuuk1",
    description:
      "SREの研究者。博士（情報学）。株式会社はてなでSREを務めたのちに、2019年よりさくらインターネット研究所所属。SRE NEXT 2024でベストスピーカー賞を受賞。最近の研究開発テーマはAIインフラのオブザーバビリティとAIOps。",
    imageUrl: GuestSpeaker02,
  },
  {
    name: "azukiazusa",
    role: "",
    description:
      "Webアプリケーションエンジニアとしてフロントエンド領域を中心に活動している。技術ブログ azukiazusa.dev ではフロントエンドや生成AI関連の技術について継続的に発信しており、実際に手を動かして得た知見をわかりやすく伝えることで読者から好評を得ている。",
    imageUrl: GuestSpeaker03,
  },
  {
    name: "稲尾尚徳",
    role: "inao",
    description:
      "編集者。 現職はSmartHRのDevRel、前職はWEB+DB PRESSの編集長です。",
    imageUrl: GuestSpeaker04,
  },
  {
    name: "山澤一誠",
    role: "",
    description: `1997年 全方位カメラの研究で 大阪大学博士（工学） 取得
1996年～2011年 奈良先端科学技術大学院大学 情報科学研究科 助手から准教授
2011年～ 福岡工業大学 情報工学部 情報工学科 教授
画像認識・CG・複合現実など画像に関するテーマが専門
人工知能基礎・コンピュータグラフィックス・画像情報処理などの授業を担当`,
    imageUrl: GuestSpeaker05,
  },
];
---

<div
  id="guest-speakers"
  class="flex flex-col gap-[calc(130*var(--scale))] items-center relative"
>
  <OutlinedTitle title="ゲストスピーカー" subtitle="Guest<br />Speakers" />

  <div>
    <div class="relative flex flex-wrap justify-center w-full">
      {
        keynoteSpeakers.map((speaker) => (
          <div class="flex flex-col items-center gap-[calc(27*var(--scale))] w-1/1 sm:w-1/2 lg:w-1/3 p-4 md:p-8 mb-10">
            <div class="duotone relative">
              <Image
                src={speaker.imageUrl}
                alt={speaker.name}
                width={340}
                height={340}
                densities={[1, 2]}
              />
              <span class="text-sm md:text-base font-ips font-bold text-white absolute bottom-0 left-1/2 -translate-x-1/2 sm:translate-y-1/2 bg-secondary px-4 py-1 z-10 tracking-wider">
                KEY NOTE
              </span>
            </div>
            <div class="flex flex-col items-center">
              <p class="text-sm md:text-base font-ips min-h-6">
                {speaker.role}
              </p>
              <p class="text-lg md:text-2xl font-bold">{speaker.name}</p>
            </div>
            <p class="text-xs md:text-sm  leading-5">{speaker.description}</p>
          </div>
        ))
      }
    </div>

    <div class="relative flex flex-wrap justify-center w-full">
      {
        guestSpeakers.map((speaker) => (
          <div class="flex flex-col items-center gap-[calc(27*var(--scale))] w-1/1 sm:w-1/2 lg:w-1/3 p-4 md:p-8 mb-10">
            <div class="duotone">
              <Image
                src={speaker.imageUrl}
                alt={speaker.name}
                width={340}
                height={340}
                densities={[1, 2]}
              />
            </div>
            <div class="flex flex-col items-center">
              <p class="text-sm md:text-base font-ips min-h-6">
                {speaker.role}
              </p>
              <p class="text-lg md:text-2xl font-bold">{speaker.name}</p>
            </div>
            <p class="text-xs md:text-sm  leading-5">{speaker.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .duotone {
    position: relative;
  }

  .duotone img {
    /*
    filter: grayscale(100%) contrast(1.5) brightness(1.5);
    mix-blend-mode: multiply;
    */
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
  }

  .duotone:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*
    background-color: var(--color-black);
    mix-blend-mode: lighten;
    */
  }

  .duotone:hover img {
    /*
    filter: grayscale(0%);
    */
  }

  .duotone:hover,
  .duotone:hover:after {
    background-color: transparent;
  }
</style>
