---
import OutlinedTitle from "./OutlinedTitle.astro";

// ゲストスピーカーデータ
const guestSpeakers = [
  {
    name: "ゲストスピーカー",
    role: "guest speaker",
    description:
      "ゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてください",
    imageUrl: "https://i.pravatar.cc/400",
  },
  {
    name: "ゲストスピーカー",
    role: "guest speaker",
    description:
      "ゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてください",
    imageUrl: "https://i.pravatar.cc/400",
  },
  {
    name: "ゲストスピーカー",
    role: "guest speaker",
    description:
      "ゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてくださいゲストスピーカーの紹介文を入れてください",
    imageUrl: "https://i.pravatar.cc/400",
  },
];
---

<div class="flex flex-col gap-[calc(130*var(--scale))] items-center relative">
  <OutlinedTitle title="ゲストスピーカー" subtitle="Guest<br />Speakers" />
  <div class="relative flex flex-wrap justify-center w-full">
    {
      guestSpeakers.map((speaker, index) => (
        <div class="flex flex-col items-center gap-[calc(27*var(--scale))] w-1/1 sm:w-1/2 lg:w-1/3 p-4 md:p-8 mb-10">
          <div class="w-full h-full duotone">
            <img src={speaker.imageUrl} alt={speaker.name} />
          </div>
          <div class="flex flex-col items-center">
            <p class="text-sm md:text-base font-ips">{speaker.role}</p>
            <p class="text-lg md:text-2xl font-bold">{speaker.name}</p>
          </div>
          <p class="text-xs md:text-sm  leading-5">{speaker.description}</p>
        </div>
      ))
    }
  </div>
</div>

<style>
  .duotone {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--color-primary);
  }

  .duotone img {
    filter: grayscale(100%) contrast(1.5) brightness(1.5);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
  }

  .duotone:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    mix-blend-mode: lighten;
  }

  .duotone:hover img {
    filter: grayscale(0%);
  }

  .duotone:hover,
  .duotone:hover:after {
    background-color: transparent;
  }
</style>
