<%- include('partial/header'); -%>
    <section class="section flex flex-col">
        <h2 class="en-serif-bold text-4xl sm:text-6xl text-center mb-16">INDIVIDUAL SPONSOR / 個人スポンサー</h2>
		<div class="container pb-32 m-auto text-primary ">
			<div class="p-2 mx-auto max-w-5xl">
				<div class="flex flex-wrap justify-center gap-5">
					<% for (const member of locals.individualSponsors) { %>
						<div class="flex-3 mt-6 text-center sm:mt-8 basis-32 sm:basis-48">
							<a href="<%= member.profile_url %>" target="_blank">
								<div class="">
									<img class="object-cover rounded-full w-full" src="<%= member.avatar_url %>" alt="" />
								</div>
								<div class="block pt-4 font-bold">
									<%= member.name %>
								</div>
							</a>
						</div>
						<%}%>
				</div>
			</div>
		</div>
    </section>
<%- include('partial/footer'); -%>
