<%- include('partial/header'); -%>
	<div class="hero-bg flex justify-center items-center px-6 h-[500px] pt-10">
		<img class="w-[422px]" src="images/home-logo.png" alt="YAPC KYOTO 2023" />
	</div>
	<div class="container mx-auto">
		<div class="max-w-3xl px-5 mx-auto">
			<p class="my-4 sm:text-lg">
				YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。
				Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！
			</p>
			<p class="my-4 sm:text-lg">
                今回のYAPC::Japanのテーマは「try/catch」。
                YAPC::Japanとして初めての試みとなる「会場と配信のハイブリッド形式」で開催されるこのカンファレンスを、
                様々なジャンルのtryや情報を披露し、たくさんの知見をcatchできる場所にしたいと考えています。
			</p>
			<table class="mx-auto my-10 table__place">
				<tbody>
					<tr>
						<th>開催日</th>
						<td> 2023年 3月 19日 </td>
					</tr>
					<tr>
						<th>会場</th>
						<td>京都リサーチパーク <a class="underline text-base"
								href="https://goo.gl/maps/27pN3skabcqsxACs7" target="_blank" rel="noreferrer">(地図を見る)</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<hr class="hr__tora" id="announcements" />
	<h2 class="h2__bell"><span>おしらせ</span></h2>
	<div class="max-w-3xl mx-auto px-5 flex justify-center">
		<ul class="announcement">
			<li>
				<a href="https://30d.jp/yapcjapan/5">写真を公開しました</a>
			</li>
		</ul>
	</div>


	<hr class="hr__cat" id="speakers" />
	<h2 class="h2__nikukyu"><span>ゲストスピーカー</span></h2>
	<div class="mx-auto px-5 guests mb-20">
		<% for (const speaker of locals.guestSpeakers) { %>
			<div class="guest mt-6 lg:w-1/3 xl:w-1/4">
			<div class="guest-photo__wrapper">
				<img src="<%= speaker.photo %>" alt="<%= speaker.name %>" />
			</div>
			<div class="grid m-auto my-5">
				<div class="font-bold text-lg text-center">
					<%= speaker.name %>
				</div>
				<div class="text-sm text-center">
					<%= speaker.name_en %>
				</div>
			</div>
			<p class="px-6 pb-8 text-sm text-justify">
                <%= speaker.title %><br>
				<%= speaker.description %>
			</p>

			</div>
		<% } %>
	</div>
	<hr class="hr__tora" id="sponsors" />
	<h2 class="h2__nikukyu"><span>ジョブボード</span></h2>
	<div class="mx-auto px-5 my-24">
		<div class="box-content text-center leading-none"><%_ for (const board of locals.jobboards) { _%><a href="<%= board.url %>" class="inline-block p-2 md:w-1/2 xl:w-1/3"><img src="images/jobboard/<%= board.src %>" alt="<%= board.alt %>" /></a><%_ } -%></div>
	</div>

	<hr class="hr__cat" id="sponsors" />
	<h2 class="h2__nikukyu"><span>スポンサー</span></h2>
	<div class="max-w-5xl mx-auto px-5">
		<div class="flex flex-wrap justify-center">
			<% for (const sponsor of locals.sponsors) { %>
				<div class="<%= sponsor.class %>">
					<div class="mt-12 mb-8 text-xl font-bold text-center">
						<%= sponsor.label %>
					</div>
					<div class="flex flex-wrap justify-center gap-6">
						<% for (const company of sponsor.companies) { %>
							<a target="_blank" href="<%= company.url %>" class="block <%= sponsor.icon_class %>">
								<span class="sponsor__image-wrapper">
									<img loading="lazy" class="sponsor__image" src="images/sponsor/<%= company.image %>" alt="<%= company.name %>" />
								</span>
							</a>
							<% } %>
					</div>
				</div>
		<% } %>
    </div>


	</div>
	<%- include('partial/footer'); -%>
